#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body{
  background-color: rgb(13, 33, 43);
 
}
h2{
  color:rgb(160, 195, 211);
}
.cities-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.cities {
  flex:  100px; 
  width: auto;
  height: auto;
  margin: 1cm;
  background-color: #3d75be;
  padding: 0.5%;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 0 10px #97beeb;
  transition: box-shadow 0.3s ease-in-out;
  box-sizing: border-box;
}
.data-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.data-row {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
}
.header.data-row.p {
  font-weight: bold;
  color: rgb(163, 173, 194);

}

